.errors {
  padding: .2rem .4rem;
  margin-left: .9rem;
  font-size: .85rem;
  box-sizing: border-box;
}


.textLabel {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.textActualLabel {
  padding: 0 .8rem 0 0;
  display: block;
}

.textInput {
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: .5rem;
  margin: .1rem 0;
  font-size: 1rem;
  box-sizing: border-box;
  outline: 0;
  flex: 0 0 100%;
  display: block;
  max-width: 20rem;
}